extends layout

block content
	h1= title
	form(name="edit-expense", method="post", action="/update")
		input(type='hidden' name='the-id' value='#{expense._id}')
		.form-group
			label(for="description") Description
			input.form-control#input-description(type='text' name='add-description' value='#{expense.description}')
		.form-group
			label(for="date") Date
			input.form-control#datepicker(type='text' name='add-date' value='#{theDate}')
		.form-group
			label(for="amount") Amount
			input.form-control#input-amount(type="text" name='add-amount' value='#{expense.amount}')
		.form-group
			label(for='category') Category
			select.form-control#category(name='add-category' value='#{expense.category}')
				option(value='' disabled selected) Select a category
				each category, i in categories
					option(value='#{category.name.toLowerCase()}') #{category.name}
		button#submit-expense.btn.btn-primary(type='submit') Submit
	p.text-right
		a(href='/') Back to Expenses
block footerex
	script 
		$('#datepicker').datepicker()
		$('#datepicker').datepicker('option', 'dateFormat', 'yy-mm-dd');
		$('#datepicker').val('#{theDate}');

