extends layout

block content
	.container-fluid
		if feedback
			#feedback-box
				p.text-right.control-holder
					span.glyphicon.glyphicon-remove(aria-label="remove")
				span #{feedback}
		h1= title
		.row
			.col-sm-2
				img#character(src='images/grandpasimpson.jpg')
			.col-sm-10
				h4 How much should I be spending in a 
					select#period
						option(value='1') day
						option(value='7') week
						option(value='30') month
						option(value='365') year
					| ?
				input#cutoff(type="text" autofocus)
		.row
			p.text-right
				a.btn.btn-primary(href='./new-expense') New Expense
		.row#expense-sheet
			each day, i in days
				h3 #{day}
				ol#expenses_list.col-xs-12(val='#{i + 1}')
					each expense, i in expenses[day].expenses
						- dailyTotal = expenses[day].total
						li.expenses_list_item(value="#{i + 1}")
							.row
								.left.text-left.col-xs-6.info-col
									span.description #{expense.description}
									br
									span.time #{expense.date.toTimeString()}	
									br
									span.category Category: #{expense.category}
								.right.text-right.col-xs-6.amount-col
									span.amount ¥#{expense.amount}
									br
									br
									button.btn.btn-danger.btn-xs(method='delete' href='delete/#{expense._id}') Remove 
									&nbsp;
									button.btn.btn-primary.btn-xs Edit
					.row
						.col-xs-12
							p.expenses-total-box.text-right
								span.total ¥#{dailyTotal}